.hidden {
    display: none;
}

header {
    text-align: center;
    font-weight: bold;
    color:mediumblue;
    border-bottom: solid;
    border-color:darkblue;
    background-color: aquamarine;
    padding: 0.2em;
}

header span {
    font-size: small;
    color: gray;
    padding-left: 0.5em;
}

footer {
    background-color: aquamarine;
    padding: 0.2em;
    text-align: right;
}

footer a {
    color: darkblue;
    text-decoration: none;
}

.psjpLink, .tweetLink {
    color: black;
    text-decoration: none;
    font-size: x-small;
    background-color: lightskyblue;
    padding: 0.3em;
    border-radius: 1em;
}

.contents {
    text-align: center;
    line-height: 1.5em;
    padding: 1em;
}

button, select, input.button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: unset;
    background-color: lightskyblue;
    border-radius: 0.5em;
    padding: 0.4em;
    color: black;
    text-decoration-line: unset;
}

input.button {
    width: 4em;
}

table {
    margin: auto;
}

thead {
    font-weight: bold;
}

th {
    font-weight: unset;
    text-align: left;
}
td {
    text-align: center;
    padding-left: 2em;
}