.hidden {
    display: none;
}

header {
    text-align: center;
    font-weight: bold;
    color:mediumblue;
    border-bottom: solid;
    border-color:darkblue;
    background-color: aquamarine;
    padding: 0.2em;
}

header span {
    font-size: small;
    color: gray;
    padding-left: 0.5em;
}

footer {
    background-color: aquamarine;
    padding: 0.2em;
    text-align: right;
}

footer a {
    color: darkblue;
    text-decoration: none;
}

.psjpLink, .tweetLink, .tweetLinkYesterday, .copyButton {
    color: black;
    text-decoration: none;
    font-size: x-small;
    background-color: lightskyblue;
    padding: 0.3em;
    border-radius: 1em;
}

.statLink {
    color: black;
    text-decoration: none;
}
.statLink:hover {
    text-decoration: underline;
    color: blue;
}

.copyDialog {
    border-radius: 1em;
    border-style: none;
}

.copyDialog .copyText {
    border-radius: 1em;
    padding: 1em;
    background-color:ivory;
    border-style: none;
}

.contents {
    text-align: center;
    line-height: 1.5em;
    padding: 1em;
}

button, select, input.button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: unset;
    background-color: lightskyblue;
    border-radius: 0.5em;
    padding: 0.4em;
    color: black;
    text-decoration-line: unset;
}

summary {
    cursor: pointer;
}

input.button {
    width: 4em;
}

table {
    margin: auto;
}

thead {
    font-weight: bold;
}

th {
    text-align: left;
    padding-left: 1em;
    font-weight: unset;
}
td {
    text-align: right;
    padding-left: 2em;
    font-family: monospace;
}

.yesterday a {
    text-decoration: none;
    color: unset;
}

.yesterday a:hover {
    text-decoration: underline;
    color: blue;
}

.yesterday .display {
    font-weight: bold;
    font-size: larger;
}

.yesterday h3 {
    font-weight: unset;
    color: mediumblue;
}