<!DOCTYPE html>
<html>

    <head>
        <title>Puzzle Square Stat - Graph</title>
        <link href="./css/main.css" rel="stylesheet" type="text/css">
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B0DCCJ3H8L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-B0DCCJ3H8L');
    </script>

    <body>
        <header>
            <h1>Puzzle Square Stat<span>（非公式）</span></h1>
        </header>
        <div class="contents">
            <h2>グラフ</h2>
            <details>
                <summary>毎月の活動量</summary>
                <img src="../graph/activity-all.png" title="全体の活動量">
                <br>
                <img src="../graph/activity-users.png" title="投稿・解答登録したユーザーの人数">
                <br>
                <img src="../graph/activity-problems.png" title="いいね・解答登録された問題の数">
            </details>
            <br>
            <details>
                <summary>問題数</summary>
                <img src="../graph/problem-by-puzzle-difficulty-all.png" title="パズル別問題数（全難易度）">
                <img src="../graph/problem-by-puzzle.png" title="パズル別問題数/最多投稿数">
                <br>
                <img src="../graph/problem-by-puzzle-difficulty-1.png" title="パズル別らくらく問題数">
                <img src="../graph/problem-by-puzzle-difficulty-2.png" title="パズル別おてごろ問題数">
                <img src="../graph/problem-by-puzzle-difficulty-3.png" title="パズル別たいへん問題数">
                <img src="../graph/problem-by-puzzle-difficulty-4.png" title="パズル別アゼン問題数">
                <img src="../graph/problem-by-puzzle-difficulty-5.png" title="パズル別ハバネロ問題数">
            </details>
            <br>
            <details>
                <summary>投稿数</summary>
                <img src="../graph/problem-by-author-difficulty-all.png" title="作者別投稿数（全難易度）">
                <img src="../graph/problem-by-author.png" title="作者別投稿数/最多問題数">
                <br>
                <img src="../graph/problem-by-author-difficulty-1.png" title="作者別らくらく投稿数">
                <img src="../graph/problem-by-author-difficulty-2.png" title="作者別おてごろ投稿数">
                <img src="../graph/problem-by-author-difficulty-3.png" title="作者別たいへん投稿数">
                <img src="../graph/problem-by-author-difficulty-4.png" title="作者別アゼン投稿数">
                <img src="../graph/problem-by-author-difficulty-5.png" title="作者別ハバネロ投稿数">
            </details>
            <br>
            <details>
                <summary>解答数</summary>
                <img src="../graph/solvers-answer.png" title="ユーザー別解答数（全難易度）">
                <br>
                <img src="../graph/solvers-answer-1.png" title="ユーザー別らくらく解答数">
                <img src="../graph/solvers-answer-2.png" title="ユーザー別おてごろ解答数">
                <img src="../graph/solvers-answer-3.png" title="ユーザー別たいへん解答数">
                <img src="../graph/solvers-answer-4.png" title="ユーザー別アゼン解答数">
                <img src="../graph/solvers-answer-5.png" title="ユーザー別ハバネロ解答数">
            </details>
            <br>
            <details>
                <summary>各問題</summary>
                <img src="../graph/answered-favorite.png" title="問題別解答登録数/いいね数">
            </details>
            <br>
            <details>
                <summary>いいね/解答登録された数</summary>
                <img src="../graph/problem-favorite-puzzle.png" title="パズル別問題数/いいね数">
                <img src="../graph/problem-answered-puzzle.png" title="パズル別問題数/被解答登録数">
                <br>
                <img src="../graph/problem-favorite-author.png" title="作者別問題数/いいね数">
                <img src="../graph/problem-answered-author.png" title="作者別問題数/被解答登録数">
            </details>
            <br>
            <details>
                <summary>初投稿数</summary>
                <img src="../graph/first-puzzles-by-author.png" title="その作者が初めて投稿したパズルの数">
                <img src="../graph/first-authors-by-puzzle.png" title="そのパズルを初めて投稿した作者の数">
                <p>※ Puzzle Square JPに現在もある問題の中で最古のものを「初投稿」としています。</p>
            </details>
            <br>
            <details>
                <summary>投稿期間</summary>
                <img src="../graph/span-by-puzzle.png" title="パズル別の投稿期間">
                <img src="../graph/span-by-author.png" title="作者別の投稿期間">
            </details>
            <br>
            <details>
                <summary>時間別の投稿数</summary>
                <img src="../graph/date-month.png" title="各月の投稿数">
                <img src="../graph/date-day-week.png" title="各曜日の投稿数">
                <img src="../graph/date-hour.png" title="各時刻の投稿数">
            </details>
            <br>
            <a href="" class="tweetLink" target="_blank">Tweet🔗</a>
        </div>
        <script type="text/javascript" src="./js/common.js"></script>
        <script type="text/javascript" src="./js/data.js"></script>
    </body>

    <footer>
        <p><a href="../">トップページ</a></p>
        <p><a href="https://puzsq.logicpuzzle.app/" target="_blank">Puzzle Square JP（外部サイト）</a></p>
        更新日時：<span class="updatedTime">2021年9月1日</span>
        <p>制作：<a href="https://github.com/bay-puz/psjp" target="_blank">bay</a></p>
    </footer>
</html>