<!DOCTYPE html>
<html>

    <head>
        <title>Puzzle Square Static - Ranking</title>
        <link href="./css/main.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <h1>Puzzle Square Static<span>（非公式）</span></h1>
        </header>
        <div class="contents">
            <h2>ランキング</h2>
            <span id="ranking"></span>
        </div>
        <script type="text/javascript" src="./js/data.js"></script>
        <script type="text/javascript" src="./js/ranking.js"></script>
    </body>
    <footer>
        <p><a href="../">トップページ</a></p>
        <p><a href="https://puzsq.jp/main/index.php" target="_blank">Puzzle Square JP（外部サイト）</a></p>
        更新日時：<span class="updatedTime">2021年9月1日</span>
        <p>制作：<a href="https://github.com/bay-puz/psjp" target="_blank">bay</a></p>
    </footer>
</html>