<!DOCTYPE html>
<html>

    <head>
        <title>Puzzle Square Stat - Ranking</title>
        <link href="./css/main.css" rel="stylesheet" type="text/css">
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B0DCCJ3H8L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-B0DCCJ3H8L');
    </script>

    <body>
        <header>
            <h1>Puzzle Square Stat<span>（非公式）</span></h1>
        </header>
        <div class="contents">
            <h2>ランキング</h2>
            <form action="./ranking.html" method="GET">
                <p>
                    <select id="category" name="category">
                        <option value="kind" selected>パズル</option>
                        <option value="author">作者</option>
                    </select>
                    の
                    <select id="sort" name="sort">
                        <option value="problem_n" selected>問題数</option>
                        <option value="favorite_n">いいね数</option>
                        <option value="favorite_r">平均いいね数</option>
                        <option value="answered_n">解答者数</option>
                        <option value="answered_r">平均解答者数</option>
                        <option value="count">作者（パズル）数</option>
                        <option value="count_r">作者（パズル）平均</option>
                        <option value="variant_n">変種数</option>
                        <option value="variant_r">変種率</option>
                    </select>
                    （同じなら
                    <select id="subsort" name="subsort">
                        <option value="problem_n">問題数</option>
                        <option value="favorite_n" selected>いいね数</option>
                        <option value="favorite_r">平均いいね数</option>
                        <option value="answered_n">解答者数</option>
                        <option value="answered_r">平均解答者数</option>
                        <option value="count">作者（パズル）数</option>
                        <option value="count_r">作者（パズル）平均</option>
                        <option value="variant_n">変種数</option>
                        <option value="variant_r">変種率</option>
                    </select>
                    ）が
                    <select id="order" name="order">
                        <option value="down" selected>多い順</option>
                        <option value="up">少ない順</option>
                    </select>
                    に
                    <input type="number" id="number" name="number" class="button" value="20" min="0">
                    位まで
                </p>
                    <p>
                    （ただし
                    <select id="condition" name="condition">
                        <option value="" selected> </option>
                        <option value="problem_n">問題数</option>
                        <option value="favorite_n">いいね数</option>
                        <option value="favorite_r">平均いいね数</option>
                        <option value="answered_n">解答者数</option>
                        <option value="answered_r">平均解答者数</option>
                        <option value="count">作者（パズル）数</option>
                        <option value="count_r">作者（パズル）平均</option>
                        <option value="variant_n">変種数</option>
                        <option value="variant_r">変種率</option>
                    </select>
                    が
                    <input type="number" id="criteria" name="criteria" class="button" min="0" step="0.01">
                    より
                    <select id="than" name="than">
                        <option value="" selected> </option>
                        <option value="large">大きい</option>
                        <option value="small">小さい</option>
                    </select>
                    ものだけを）
                    <button id="submit">見る</button>
                </p>
            </form>
            <br>
            <span id="ranking"></span>
            <a href="" class="tweetLink" target="_blank">Tweet🔗</a>
        </div>
        <script type="text/javascript" src="./js/common.js"></script>
        <script type="text/javascript" src="./js/data.js"></script>
        <script type="text/javascript" src="./js/ranking.js"></script>
    </body>
    <footer>
        <p><a href="../">トップページ</a></p>
        <p><a href="https://puzsq.logicpuzzle.app/" target="_blank">Puzzle Square JP（外部サイト）</a></p>
        更新日時：<span class="updatedTime">2021年9月1日</span>
        <p>制作：<a href="https://github.com/bay-puz/psjp" target="_blank">bay</a></p>
    </footer>
</html>