<!DOCTYPE html>
<html>

    <head>
        <title>Puzzle Square Stat - Details</title>
        <link href="./css/main.css" rel="stylesheet" type="text/css">
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B0DCCJ3H8L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-B0DCCJ3H8L');
    </script>

    <body>
        <header>
            <h1>Puzzle Square Stat<span>（非公式）</span></h1>
        </header>
        <div class="contents">
            <h2>
                <span class="name"></span>
                <br>
                <a href="" class="psjpLink" target="_blank">ぱずすく🔗</a>
                <a href="" class="tweetLink" target="_blank">Tweet🔗</a>
            </h2>
            <h3>問題数</h3>
            <span class="problem_n data"></span>
            <h3>いいね数/平均いいね数</h3>
            <span class="favorite_n data"></span> / <span class="favorite_r data"></span>
            <h3>解答者数/平均解答者数</h3>
            <span class="answered_n data"></span> / <span class="answered_r data"></span>
            <div class="notBoth">
                <h3><span class="displayCount"></span>/<span class="displayCountR"></span></h3>
                <span class="count data"></span> / <span class="count_r data"></span>
            </div>
            <h3>変種数/変種率</h3>
            <span class="variant_n data"></span> / <span class="variant_r data"></span>
            <h3>難易度別</h3>
            <span id="difficultyTable"></span>
            <div class="notBoth">
                <h3><span class="display"></span>別</h3>
                <select id="sort" name="sort">
                    <option value="problem_n">問題数</option>
                    <option value="favorite_n">いいね数</option>
                    <option value="favorite_r">平均いいね数</option>
                    <option value="answered_n">解答者数</option>
                    <option value="answered_r">平均解答者数</option>
                    <option value="variant_n">変種数</option>
                    <option value="variant_r">変種率</option>
                </select>
                が
                <select id="order" name="order">
                    <option value="down">多い順</option>
                    <option value="up">少ない順</option>
                </select>
                に
                <button id="changeSort">並べる</button>
                <br>
                <span id="anotherTable"></span>
            </div>
        </div>
        <script type="text/javascript" src="./js/common.js"></script>
        <script type="text/javascript" src="./js/data.js"></script>
        <script type="text/javascript" src="./js/stat.js"></script>
    </body>
    <footer>
        <p><a href="../">トップページ</a></p>
        <p><a href="https://puzsq.logicpuzzle.app/" target="_blank">Puzzle Square JP（外部サイト）</a></p>
        更新日時：<span class="updatedTime">2021年9月1日</span>
        <p>制作：<a href="https://github.com/bay-puz/psjp" target="_blank">bay</a></p>
    </footer>
</html>