<!DOCTYPE html>
<html>

    <head>
        <title>Puzzle Square Stat - Yesterday</title>
        <link href="./css/main.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <h1>Puzzle Square Stat<span>（非公式）</span></h1>
        </header>
        <div class="contents yesterday">
            <h2><span id="day">昨日</span>のパズスク</h2>
            <h3>投稿</h3>
            <p><span id="total_prob" class="display">？</span>問</p>
            <h3>いいね</h3>
            <p><span id="total_fav" class="display">？</span>問</p>
            <h3>解答登録</h3>
            <p><span id="total_ans" class="display">？</span>問</p>
            <a href="" class="tweetLinkYesterday" id="tweetTotal" target="_blank">Tweet🔗</a>
            <h3>いいねされた問題／作者</h3>
            <p><span id="c_fav_prob" class="display">？</span>問／<span id="c_fav_auth" class="display">？</span>人</p>
            <h3>解答登録された問題／作者</h3>
            <p><span id="c_ans_prob" class="display">？</span>問／<span id="c_ans_auth" class="display">？</span>人</p>
            <h3>解答登録した解き手</h3>
            <p><span id="c_ans_sol" class="display">？</span>人</p>
            <a href="" class="tweetLinkYesterday" id="tweetCount" target="_blank">Tweet🔗</a>
            <h3>もっともいいねされた問題</h3>
            <p><span id="top_prob_fav"></span>（<span id="top_prob_fav_c">？</span>回）</p>
            <h3>もっとも解答登録された問題</h3>
            <p><span id="top_prob_ans"></span>（<span id="top_prob_ans_c">？</span>回）</p>
            <a href="" class="tweetLinkYesterday" id="tweetTopProblem" target="_blank">Tweet🔗</a>
            <h3>もっともいいねされた作者</h3>
            <p><span id="top_auth_fav"></span>（<span id="top_auth_fav_c">？</span>回）</p>
            <h3>もっとも解答登録された作者</h3>
            <p><span id="top_auth_ans"></span>（<span id="top_auth_ans_c">？</span>回）</p>
            <h3>もっとも解答登録した解き手</h3>
            <p><span id="top_sol_ans"></span>（<span id="top_sol_ans_c">？</span>回）</p>
            <a href="" class="tweetLinkYesterday" id="tweetTopUser" target="_blank">Tweet🔗</a>
        </div>
        <script type="text/javascript" src="./js/data.js"></script>
        <script type="text/javascript" src="./js/common.js"></script>
        <script type="text/javascript" src="./js/yesterday.js"></script>
    </body>
    <footer>
        <p><a href="../">トップページ</a></p>
        <p><a href="https://puzsq.logicpuzzle.app/" target="_blank">Puzzle Square JP（外部サイト）</a></p>
        更新日時：<span class="updatedTime">2021年9月1日</span>
        <p>制作：<a href="https://github.com/bay-puz/psjp" target="_blank">bay</a></p>
    </footer>
</html>